<div class="bg-red-500 text-2xl" *ngIf="!errorFetchingData">Error loading announcements</div>

<div class="bg-cover flex flex-col min-h-screen bg-fixed"
    style="background-image: url(../../assets/asphalt-highway.jpg)">
    <div class="grid grid-cols-1 md:grid-cols-3 pt-5 m-6  opacity-90">
        <div *ngFor="let announcement of announcementList"
            class="transform transition-all hover:scale-105 p-2 mb-12 flex-nowrap no-scrollbar flex items-center justify-center">
            <div class="bg-gray-800 p-8 shadow-md rounded-md w-96">
                <h2 class="text-slate-100 text-2xl font-semibold mb-4">{{announcement.userId.username}} posted</h2>
                <div class="mb-4">
                    <ul class="p-2 flex flex-nowrap">
                    </ul>
                    <ul>
                        <li class="mr-2 mb-2">
                            <label for="from" class="block text-gray-500 text-sm font-medium">From: <span
                                    class="text-white">
                                    {{announcement.from}}</span></label>
                        </li>
                        <li class="mr-2 mb-2">
                            <label for="to" class="block text-gray-500 text-sm font-medium">To: <span class="text-white">
                                    {{announcement.to}}</span></label>
                        </li>
                        <li class="mr-7 mb-2">
                            <label for="price" class="block text-gray-500 text-sm font-medium">Price of ticket: <span
                                    class="text-white">
                                    {{announcement.price}}</span></label>
                        </li>
                    </ul>
                </div>
                <ul class="">
                    <li class="transform transition-all hover:scale-105 p-2 flex flex-nowrap">
                        <button [routerLink]="announcement._id"
                            class="w-full flex justify-center bg-gray-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Details</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>