<div class="min-h-screen flex items-center justify-center">
    <div class="bg-gray-800 p-8 shadow-md rounded-md w-96">
        <h2 class="text-slate-100 text-2xl font-semibold mb-4">Login</h2>
        <form #form="ngForm" (ngSubmit)="login(form)">
            <div class="mb-4">
                <label for="email" class="block text-gray-500 text-sm font-medium">Email</label>
                <input type="email" id="email" name="email" #inputEmail ngModel required
                    class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0">
                <!-- <p class="text-red-500">
                    Email is required!
                </p> -->
                <!-- <p class="text-red-500">
                    Email is not valid!
                </p> -->
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-500 text-sm font-medium">Password</label>
                <input type="password" id="password" name="password" #inputPassword ngModel required
                    class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0">
                <!-- <p class="text-red-500">
                Password is required!
                </p>
                <p class="text-red-500">
                    Password must be at least 4 characters!
                </p> -->
            </div>
            <button
                class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Login</button>
        </form>
        <p class="text-sm text-gray-500 mt-4">Don't have an account? <a routerLink="/register"
                class="text-blue-500 hover:text-blue-600">Register</a></p>
    </div>
</div>