<div class="min-h-screen flex items-center justify-center opacity-90">
    <div class="bg-gray-800 p-8 shadow-md rounded-md w-96 transform transition-all hover:scale-105">
        <h2 class="text-slate-100 text-2xl font-semibold mb-4">Add Announcement</h2>
        <form #form="ngForm" (submit)="addNewAnnouncement(form)">
            <div class="mb-4">
                <label for="title" class="block text-gray-500 text-sm font-medium my-2">Where are you travel?</label>
                <ul class="p-2 flex flex-nowrap">
                    <li class="mr-2 mb-2">
                        <label for="from" class="block text-gray-500 text-sm font-medium">From:</label>
                        <input type="text" id="from" name="from"
                            class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0"
                            ngModel #inputFrom="ngModel" required minlength="2">
                        <!-- "From" validation -->
                        <ng-container *ngIf="inputFrom.touched">
                            <p class="text-red-500" *ngIf="inputFrom.errors?.['required']">
                                "From" is required.
                            </p>
                            <p class="text-red-500" *ngIf="inputFrom.errors?.['minlength']">
                                "From" must be at least 2 characters long.
                            </p>
                        </ng-container>
                    </li>
                    <li class="mr-2 mb-2">
                        <label for="to" class="block text-gray-500 text-sm font-medium">To:</label>
                        <input type="text" id="to" name="to"
                            class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0"
                            ngModel #inputTo="ngModel" required minlength="2">
                        <!-- "To" validation -->
                        <ng-container *ngIf="inputTo.touched">
                            <p class="text-red-500" *ngIf="inputTo.errors?.['required']">
                                "To" is required.
                            </p>
                            <p class="text-red-500" *ngIf="inputTo.errors?.['minlength']">
                                "To" must be at least 2 characters long.
                            </p>
                        </ng-container>
                    </li>
                </ul>
                <ul>
                    <li class="mr-7 mb-2">
                        <label for="price" class="block text-gray-500 text-sm font-medium">Price of ticket:</label>
                        <input type="number" id="price" name="price"
                            class="mt-1 block w-full rounded-md bg-gray-100 border-transparent m- focus:border-gray-500 focus:bg-white focus:ring-0"
                            ngModel #inputPrice="ngModel" required>
                        <!-- "Price" validation -->
                        <ng-container *ngIf="inputPrice.touched">
                            <p class="text-red-500" *ngIf="inputPrice.errors?.['required']">
                                "Price" is required.
                            </p>
                        </ng-container>
                    </li>
                </ul>
                <ul>
                    <li class="mr-7 mb-2">
                        <label for="date" class="block text-gray-500 text-sm font-medium">Date and time:</label>
                        <input type="datetime-local" id="date" name="date"
                            class="mt-1 block w-full rounded-md bg-gray-100 border-transparent m- focus:border-gray-500 focus:bg-white focus:ring-0"
                            ngModel #inputDate="ngModel" required>
                        <!-- "Date" validation -->
                        <ng-container *ngIf="inputDate.touched">
                            <p class="text-red-500" *ngIf="inputDate.errors?.['required']">
                                "Date" is required.
                            </p>
                        </ng-container>
                    </li>
                </ul>
                <ul>
                    <li class="mr-7 mb-2">
                        <label for="seats" class="block text-gray-500 text-sm font-medium">Seats available:</label>
                        <input type="number" id="seats" name="seats"
                            class="mt-1 block w-full rounded-md bg-gray-100 border-transparent m- focus:border-gray-500 focus:bg-white focus:ring-0"
                            ngModel #inputSeats="ngModel" required>
                        <!-- "Seats" validation -->
                        <ng-container *ngIf="inputSeats.touched">
                            <p class="text-red-500" *ngIf="inputSeats.errors?.['required']">
                                "Seats" is required.
                            </p>
                        </ng-container>
                    </li>
                </ul>
            </div>
            <div class="mb-4">
                <label for="description" class="block text-gray-500 text-sm font-medium">Description</label>
                <textarea id="description" name="description"
                    class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 h-32 resize-none"
                    ngModel #inputDescription="ngModel" required minlength="5"></textarea>
                    <!-- "description" validation -->
                    <ng-container *ngIf="inputDescription.touched">
                        <p class="text-red-500" *ngIf="inputDescription.errors?.['required']">
                            "Description is required.
                        </p>
                        <p class="text-red-500" *ngIf="inputDescription.errors?.['minlength']">
                            "Description" must be at least 5 characters long.
                        </p>
                    </ng-container>
            </div>
            <button type="submit" [disabled]="form.invalid"
                class="transform transition-all hover:scale-105 w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Add
                Announcement</button>
        </form>
    </div>
</div>