<div *ngIf="announcement" class="p-10 mb-12 flex-nowrap no-scrollbar flex items-center justify-center opacity-90">
    <div class="bg-gray-800 p-8 shadow-md rounded-md w-96">
        <h2 class="text-slate-100 text-2xl font-semibold mb-4">Current Ad</h2>
        <div class="mb-4">
            <label for="title" class="block text-gray-500 text-sm font-medium my-2">I'm travel</label>
            <ul>
                <li class="mr-2 mb-2">
                    <label for="from" class="block text-gray-500 text-sm font-medium">From: <span class="text-white">
                            {{announcement.from}}</span></label>
                </li>
                <li class="mr-2 mb-2">
                    <label for="to" class="block text-gray-500 text-sm font-medium">To: <span class="text-white">
                            {{announcement.to}}</span></label>
                </li>
                <li class="mr-7 mb-2">
                    <label for="price" class="block text-gray-500 text-sm font-medium">Price of ticket: <span
                            class="text-white">
                            {{announcement.price}}</span></label>
                </li>
                <li class="mr-7 mb-2">
                    <label for="price" class="block text-gray-500 text-sm font-medium">Date: <span class="text-white">
                            {{announcement.date}}</span></label>
                </li>
                <li class="mr-7 mb-2">
                    <label for="price" class="block text-gray-500 text-sm font-medium">Number of seats: <span
                            class="text-white">
                            {{announcement.seats}}</span></label>
                </li>
                <li class="mr-7 mb-2">
                    <label for="price" class="block text-gray-500 text-sm font-medium">Description: <span
                            class="text-white">
                            {{announcement.description}}</span></label>
                </li>

            </ul>
        </div>
        <ul *ngIf="isLogged">
            <ul *ngIf="currentUserId === this.announcement.userId">
                <li class="p-2 flex flex-nowrap">
                    <a class="w-full flex justify-center bg-gray-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                        routerLink="/announcements">Edit</a>
                </li>
                <li class="p-2 flex flex-nowrap">
                    <a class="w-full flex justify-center bg-gray-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                        routerLink="/announcements">Delete</a>
                </li>
            </ul>
            <ul *ngIf="currentUserId !== this.announcement.userId">
                    <li class="p-2 flex flex-nowrap">
                        <a routerLink="/reserve"
                        class="w-full flex justify-center bg-gray-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Reserve</a>
                    </li>
            </ul>
        </ul>
        <li class="p-2 flex flex-nowrap">
            <a class="w-full flex justify-center bg-gray-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                routerLink="/announcements">Back</a>
        </li>
    </div>
</div>

<div *ngIf="announcement" class="p-10 mb-12 flex-nowrap no-scrollbar flex items-center justify-center opacity-90">
    <div class="bg-gray-800 p-8 shadow-md rounded-md w-96">
        <h2 class="text-slate-100 text-2xl font-semibold mb-4">Current Ad</h2>
        <!-- <form [formGroup]="form" (ngSubmit)="saveAnnouncementHandler()"> -->
            <div class="mb-4">
                <label for="title" class="block text-gray-500 text-sm font-medium my-2">I'm travel</label>
                <ul class="p-2 flex flex-nowrap">
    
                </ul>
                <ul>
                    <li class="mr-2 mb-2">
                        <label for="from" class="block text-gray-500 text-sm font-medium">From: <span class="text-white">
                                {{announcement.from}}</span></label>
                    </li>
                    <li class="mr-2 mb-2">
                        <label for="to" class="block text-gray-500 text-sm font-medium">To: <span class="text-white">
                                {{announcement.to}}</span></label>
                    </li>
                    <li class="mr-7 mb-2">
                        <label for="price" class="block text-gray-500 text-sm font-medium">Price of ticket: <span
                                class="text-white">
                                {{announcement.price}}</span></label>
                    </li>
                    <li class="mr-7 mb-2">
                        <label for="price" class="block text-gray-500 text-sm font-medium">Date: <span class="text-white">
                                {{announcement.date}}</span></label>
                    </li>
                    <li class="mr-7 mb-2">
                        <label for="price" class="block text-gray-500 text-sm font-medium">Number of seats: <span
                                class="text-white">
                                {{announcement.seats}}</span></label>
                    </li>
                    <li class="mr-7 mb-2">
                        <label for="price" class="block text-gray-500 text-sm font-medium">Description: <span
                                class="text-white">
                                {{announcement.description}}</span></label>
                    </li>
    
                </ul>
            </div>
            <ul *ngIf=>
                <li class="p-2 flex flex-nowrap">
                    <a class="w-full flex justify-center bg-gray-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                        routerLink="/announcements">Edit</a>
                </li>
                <li class="p-2 flex flex-nowrap">
                    <a class="w-full flex justify-center bg-gray-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                        routerLink="/announcements">Delete</a>
                </li>
            </ul>
        <!-- </form> -->
        <ul >
            <ul >
                    <li class="p-2 flex flex-nowrap">
                        <a routerLink="/reserve"
                        class="w-full flex justify-center bg-gray-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Reserve</a>
                    </li>
            </ul>
        </ul>
        <li class="p-2 flex flex-nowrap">
            <a class="w-full flex justify-center bg-gray-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                routerLink="/announcements">Back</a>
        </li>
    </div>
</div>